@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/common.css";

@import "./layout/header.css";
@import "./layout/footer.css";

@import "./components/banner.css";
@import "./components/section-title.css";
@import "./components/company-section.css";
@import "./components/business-section.css";
@import "./components/product-section.css";
@import "./components/why-section.css";
@import "./components/who-section.css";
@import "./components/support-section.css";
@import "./components/card.css";
@import "./components/item-list.css";
@import "./components/pagination.css";

@import "./pages/main.css";
@import "./pages/sub.css";
