<footer class="footer">
  <div class="footer__inner">
    <img src="assets/images/Dexcowin_Logo(white).png" alt="덱스코윈 로고" />

    <div class="footer-content">
      <ul class="footer-menu">
        <li>회사소개</li>
        <li>문의하기</li>
        <li>개인정보처리방침</li>
        <li>무단이메일수집거부</li>
      </ul>

      <div class="footer-info-wrapper">
        <div class="info-details">
          <div class="info-row">
            <strong>한국 본사</strong>
            <span
              >서울시 금천구 가산디지털1로 25, 901~905호 (가산동, 대륭테크노타운
              17차)</span
            >
          </div>
          <div class="info-row">
            <span><strong>TEL</strong> 02-3402-5500</span>
            <span><strong>FAX</strong> 02-3402-5539</span>
            <span><strong>EMAIL</strong> info@dexcowin.com</span>
          </div>
        </div>

        <div class="icon-container">
          <img src="assets/icons/facebook.png" alt="페이스북" />
          <img src="assets/icons/youtube.png" alt="유튜브" />
          <img src="assets/icons/linked_in.png" alt="링크드인" />
          <img src="assets/icons/instagram.png" alt="인스타그램" />
        </div>
      </div>

      <p class="footer__copy">
        Copyright 2025 Dexcowin Co., Ltd. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
