html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: var(--font-base);
}

.headline {
  font-size: 32px;
  margin-bottom: 24px;
}

.badge {
  background-color: var(--primary);
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  width: fit-content;
  font-size: var(--font-sm);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: var(--gray-700);
  font-weight: 600;
  border-bottom: 2px solid var(--gray-500);
  padding-bottom: 4px;
}
