.banner {
  overflow: hidden;
}

.banner__inner {
  position: relative;
}

.banner__track {
  display: flex;
  transition: transform 0.6s ease;
}

.banner__slide {
  position: relative;
  min-width: 100%;

  display: flex;
  align-items: center;
}

.banner__slide img {
  width: 100%;
  display: block;
}

/* 텍스트 오버레이 */
.banner__text {
  position: absolute;
  left: 40px;
  color: #fff;
}

.banner__eyebrow {
  font-size: var(--font-xl);
}

.banner__title {
  font-size: 40px;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 40px;
}

.banner__desc {
  font-size: var(--font-xl);
}

/* 인디케이터 */
.banner__indicator {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 24px;
  left: 80px;
  transform: translateX(-50%);
}

.indicator {
  width: 40px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  cursor: pointer;
}

.indicator.is-active {
  background: #fff;
}
