.business {
  padding: 100px 180px;
}

.business__content {
  display: flex;
  gap: 80px;
  margin-top: 48px;
  align-items: center;
}

.business__images {
  position: relative;
  width: 520px;
  height: 500px;
  flex-shrink: 0;
}

.business__images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.business__images img.is-active {
  opacity: 1;
}

.business__tabs {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.business__tabs li {
  padding: 10px 0;
  cursor: pointer;
  color: var(--gray-700);
}

.business__tabs li.is-active {
  font-weight: 700;
  color: var(--primary);
}

.business__tab-line {
  position: absolute;
  left: 0;
  height: 1.5px;
  width: 100px;
  background-color: var(--primary);
  transition: all 0.3s ease;
}
