/* 공통 section-title */
.section-title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-title--vertical {
  flex-direction: column;
  align-items: center;
}

.section-title__logo {
  width: fit-content;
  height: fit-content;
}

.section-title__text {
  font-size: var(--font-lg);
  color: var(--primary);
  font-weight: 700;
}
