.section-title--vertical {
  flex-direction: column;
  align-items: center;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.section-title__logo {
  height: 20px;
  width: auto;
}

.section-title__text {
  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
