.why {
  background-image: url("../../assets/images/why.png");
  background-size: cover; /* 꽉 채우기 */
  background-position: center; /* 가운데 기준 */
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 100px 180px;
}

.why__headline {
  font-size: 32px;
  margin-bottom: 24px;
  color: #fff;
}

.why-header {
  margin-bottom: 60px;
}

.why-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  width: 85%;
  margin-left: auto;
}

.why-card {
  background-color: white;
  padding: 40px 30px;
  color: #333;
  position: relative;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.why-card:hover {
  transform: translateY(-10px);
}

.why-card__num {
  font-size: 60px;
  font-weight: 800;
  color: var(--primary);
  line-height: 1;
  margin-bottom: 30px;
}

.why-card__title {
  font-size: var(--font-2xl);
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
}

.why-card__desc {
  font-size: var(--font-md);
  line-height: 1.6;
  color: #666;
  word-break: keep-all;
}

.why-card__icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 48px;
  height: 48px;
  opacity: 0.8;
}

.why-card__icon img {
  width: 100%;
  height: auto;
}
